Q1. which car brand max sell with value

Q2. Which brand come after long run?

Q3. Which car has resell value maximum

Q4. which fuel type sell max

In [1]:
import pandas as d
import numpy as n

paste the data in sublimetext editor and check what is the datatpye of the dataset

In [2]:
df = d.read_csv("autos.xls", encoding='latin1')
#parse_dates=['dateCrawled', 'dateCreated']

In [3]:
#x = d.to_datetime(df['dateCrawled'])

In [4]:
df.describe()

,yearOfRegistration,powerPS,monthOfRegistration,nrOfPictures,postalCode
count,50000.000000,50000.000000,50000.000000,50000.0,50000.000000
mean,2005.073280,116.355920,5.723360,0.0,50813.627300
std,105.712813,209.216627,3.711984,0.0,25779.747957
min,1000.000000,0.000000,0.000000,0.0,1067.000000
25%,1999.000000,70.000000,3.000000,0.0,30451.000000
50%,2003.000000,105.000000,6.000000,0.0,49577.000000
75%,2008.000000,150.000000,9.000000,0.0,71540.000000
max,9999.000000,17700.000000,12.000000,0.0,99998.000000

In [5]:
df['postalCode'] =df['postalCode'].astype('category')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  category
 19  lastSeen             50000 non-null  object
dtypes: category(1), int64(4), object(15)
memory usage: 7.6+ MB

In [7]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  category
 19  lastSeen             50000 non-null  object
dtypes: category(1), int64(4), object(15)
memory usage: 7.6+ MB

In [9]:
df.isna().sum()/len(df)*100

dateCrawled             0.000
name                    0.000
seller                  0.000
offerType               0.000
price                   0.000
abtest                  0.000
vehicleType            10.190
yearOfRegistration      0.000
gearbox                 5.360
powerPS                 0.000
model                   5.516
odometer                0.000
monthOfRegistration     0.000
fuelType                8.964
brand                   0.000
notRepairedDamage      19.658
dateCreated             0.000
nrOfPictures            0.000
postalCode              0.000
lastSeen                0.000
dtype: float64

In [10]:
df.rename(columns={
    'dateCrawled': 'date_crawled',
    'name': 'name',
    'seller': 'seller',
    'offerType': 'offer_type',
    'price': 'price',
    'abtest': 'abtest',
    'vehicleType': 'vehicle_type',
    'yearOfRegistration': 'year_of_registration',
    'gearbox': 'gearbox',
    'powerPS': 'power_ps',
    'model': 'model',
    'odometer': 'odometer',
    'monthOfRegistration': 'month_of_registration',
    'fuelType': 'fuel_type',
    'brand': 'brand',
    'notRepairedDamage': 'not_repaired_damage',
    'dateCreated': 'date_created',
    'nrOfPictures': 'nr_of_pictures',
    'postalCode': 'postal_code',
    'lastSeen': 'last_seen'
}, inplace=True)

In [11]:
df['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

In [12]:
df['nr_of_pictures'].unique()

array([0], dtype=int64)

| Axis     | Refers To               | Direction     | Meaning in DataFrame  | Common Use                  |
| -------- | ----------------------- | ------------- | --------------------- | --------------------------- |
| `axis=0` | **Y-axis (Vertical)**   | Top to bottom | Refers to **rows**    | Aggregates **down** columns |
| `axis=1` | **X-axis (Horizontal)** | Left to right | Refers to **columns** | Aggregates **across** rows  |

In [13]:
df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(int)

In [14]:

df['odometer'] = df['odometer'].str.replace('km', '').str.replace(',', '').str.strip().astype(int)

In [15]:
df['odometer'].value_counts()

odometer
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: count, dtype: int64

In [16]:
df['price'].unique().shape

(2357,)

In [17]:
df['price'].describe()*100

count    5.000000e+06
mean     9.840044e+05
std      4.811044e+07
min      0.000000e+00
25%      1.100000e+05
50%      2.950000e+05
75%      7.200000e+05
max      1.000000e+10
Name: price, dtype: float64

In [18]:
df['price'].value_counts().head(20)

price
0       1421
500      781
1500     734
2500     643
1000     639
1200     639
600      531
800      498
3500     498
2000     460
999      434
750      433
900      420
650      419
850      410
700      395
4500     394
300      384
2200     382
950      379
Name: count, dtype: int64

finding the index where the price is 0

In [19]:
indexes=df[df['price']==0].index

In [20]:
df2 = df.drop(indexes)

In [21]:
df2[df2['price']==0]
# hence not remaining

Empty DataFrame
Columns: [date_crawled, name, seller, offer_type, price, abtest, vehicle_type, year_of_registration, gearbox, power_ps, model, odometer, month_of_registration, fuel_type, brand, not_repaired_damage, date_created, nr_of_pictures, postal_code, last_seen]
Index: []

In [22]:
df2['price'].value_counts().sort_values(ascending= False)

price
500      781
1500     734
2500     643
1200     639
1000     639
        ...
9666       1
3501       1
879        1
17599      1
16995      1
Name: count, Length: 2356, dtype: int64

In [23]:
df2['price'].between(1,351000)

0        True
1        True
2        True
3        True
4        True
         ...
49995    True
49996    True
49997    True
49998    True
49999    True
Name: price, Length: 48579, dtype: bool

In [24]:
df2.shape

(48579, 20)

In [25]:
df2[df2['price'] < 1000]

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,year_of_registration,gearbox,power_ps,model,odometer,month_of_registration,fuel_type,brand,not_repaired_damage,date_created,nr_of_pictures,postal_code,last_seen
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,300,test,limousine,1995,manuell,90,golf,150000,8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,250,test,NaN,2000,manuell,0,arosa,150000,10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,590,control,bus,1997,manuell,90,megane,150000,7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999,test,NaN,2017,manuell,90,NaN,150000,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,350,control,NaN,2000,NaN,0,NaN,150000,0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,900,control,limousine,1996,automatik,136,e_klasse,150000,9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,400,control,kombi,1995,manuell,105,escort,125000,3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,600,test,kleinwagen,1999,manuell,101,focus,150000,4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,150,test,kleinwagen,1997,manuell,0,polo,150000,5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,500,control,NaN,2016,manuell,0,twingo,150000,0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19

In [26]:
type(df2['date_crawled'][0])

str

In [29]:
(df2['date_crawled'].str[:10].value_counts(normalize = True, dropna = False).sort_values(ascending=False))

date_crawled
2016-04-03    0.038597
2016-03-20    0.037876
2016-03-21    0.037403
2016-03-12    0.036930
2016-03-14    0.036538
2016-04-04    0.036518
2016-03-07    0.036003
2016-04-02    0.035468
2016-03-28    0.034850
2016-03-19    0.034768
2016-03-15    0.034274
2016-03-29    0.034130
2016-03-30    0.033677
2016-04-01    0.033677
2016-03-08    0.033327
2016-03-09    0.033101
2016-03-22    0.033018
2016-03-11    0.032566
2016-03-23    0.032216
2016-03-26    0.032195
2016-03-10    0.032174
2016-03-31    0.031845
2016-03-17    0.031639
2016-03-25    0.031598
2016-03-27    0.031083
2016-03-16    0.029601
2016-03-24    0.029334
2016-03-05    0.025320
2016-03-13    0.015665
2016-03-06    0.014039
2016-04-05    0.013092
2016-03-18    0.012907
2016-04-06    0.003170
2016-04-07    0.001400
Name: proportion, dtype: float64

In [28]:
# Remove commas and dollar signs using string replace (no regex)
df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(int)

AttributeError: Can only use .str accessor with string values!

In [ ]:
zero_price_rows = df[df['price'] == 0]

In [ ]:
zero_price_rows

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27,0,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0,control,NaN,1990,manuell,0,NaN,"5,000km",0,benzin,opel,NaN,2016-03-28,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0,control,coupe,1999,manuell,99,primera,"150,000km",3,benzin,nissan,ja,2016-03-09,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0,control,NaN,2000,NaN,0,5er,"150,000km",0,NaN,bmw,NaN,2016-03-29,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,"60,000km",7,diesel,peugeot,nein,2016-04-05,0,99735,2016-04-07 12:17:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49884,2016-03-11 13:55:30,Audi_a6_2.5l__Schnaeppchen_nur_heute,privat,Angebot,0,test,kombi,1999,manuell,150,a6,"150,000km",11,diesel,audi,NaN,2016-03-11,0,27711,2016-03-12 03:17:08
49943,2016-03-16 20:46:08,Opel_astra,privat,Angebot,0,control,NaN,2016,manuell,101,astra,"150,000km",8,benzin,opel,NaN,2016-03-16,0,89134,2016-03-17 19:44:20
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,privat,Angebot,0,control,kleinwagen,1999,manuell,60,ka,"150,000km",6,benzin,ford,NaN,2016-03-25,0,34355,2016-03-25 22:51:55
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20,0,8209,2016-03-27 19:48:16
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31,0,12103,2016-04-02 19:44:53

In [ ]:
len(df)

50000

In [ ]:
df2= df.copy()

In [ ]:
df2 = df2[df2['price']!=0]

In [ ]:
len(df2)

48579

In [ ]:
type(df2['odometer'])

pandas.core.series.Series

In [ ]:

df2['odometer'] = df2['odometer'].str.replace('km', '').str.replace(',', '').str.strip().astype(int)

In [ ]:
print(df2['odometer'].head())

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: int32

In [ ]:
brand_price = df.groupby('brand')['price'].median().sort_values(ascending=False)

In [ ]:
print("Top 5 brands with highest typical resale value:")
print(brand_price.head())

Top 5 brands with highest typical resale value:
brand
porsche       29949.5
land_rover    12500.0
mini           8990.0
jeep           7800.0
jaguar         6250.0
Name: price, dtype: float64

In [ ]:
# Group by brand and sum all the prices
brand_total_sales = df.groupby('brand')['price'].sum().sort_values(ascending=False)

# Show top 5
print("Brands with highest total resale value (money made from resales):")
print(brand_total_sales.head())

Brands with highest total resale value (money made from resales):
brand
mercedes_benz    139709597
volkswagen        68227597
bmw               44805097
audi              38399495
citroen           29902882
Name: price, dtype: int32

In [ ]:
brand_odometer = df.groupby('brand')['odometer'].mean().sort_values(ascending=False)

print("Top 5 brands with highest average kilometers run:")
print(brand_odometer.head())

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
print(df2.isnull().sum())

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            4589
yearOfRegistration        0
gearbox                2347
powerPS                   0
model                  2463
odometer                  0
monthOfRegistration       0
fuelType               4035
brand                     0
notRepairedDamage      9107
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

In [ ]:
df['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [ ]:
rice = df['price']

In [ ]:
rice.drop('$999,999', axis=0)

KeyError: "['$999,999'] not found in axis"

In [ ]:
df[df['price']=='$0']['brand'].unique()

array(['ford', 'opel', 'nissan', 'bmw', 'peugeot', 'volkswagen', 'mazda',
       'porsche', 'fiat', 'sonstige_autos', 'mercedes_benz', 'volvo',
       'seat', 'audi', 'renault', 'honda', 'kia', 'daihatsu', 'mini',
       'skoda', 'mitsubishi', 'chrysler', 'chevrolet', 'alfa_romeo',
       'toyota', 'smart', 'hyundai', 'citroen', 'jaguar', 'subaru',
       'trabant', 'saab', 'suzuki', 'rover', 'jeep', 'daewoo', 'lada',
       'lancia'], dtype=object)

In [ ]:
amount = df['price'].sort_values(ascending=False)

In [ ]:
amount.head

In [ ]:
maxval=amount.head(1000).unique()

In [ ]:
maxval=maxval[0:5]

In [ ]:
maxval

array(['$999,999', '$999,990', '$999', '$998', '$996'], dtype=object)

In [ ]:
print(df[df["price"]=='$999,999']['brand'].unique()) #ford,volkswagon
df[df["price"]=='$999,990']['brand'].unique() #volkswagon
df[df["price"]=='$999']['brand'].unique() #'audi', 'opel', 'chrysler'

['ford' 'volkswagen']

array(['volkswagen', 'ford', 'audi', 'opel', 'chrysler', 'renault',
       'citroen', 'hyundai', 'mercedes_benz', 'bmw', 'rover', 'fiat',
       'subaru', 'seat', 'mazda', 'mitsubishi', 'saab', 'peugeot',
       'nissan', 'chevrolet', 'sonstige_autos', 'kia', 'daihatsu',
       'skoda', 'daewoo', 'lada', 'toyota', 'trabant', 'alfa_romeo',
       'suzuki', 'volvo', 'smart', 'honda'], dtype=object)

In [ ]:
maxsell = []
i=0
j = i+1
for i in range(len(amount)):
    if amount[i]==amount[j]:
        if amount[i] not in maxsell:
            maxsell.append(amount[i])
        else:
            i+=1
            j+=1
    else:
        
        if amount[i] not in maxsell:
            maxsell.append(amount[i])
        else:
            i+=1
            j+=1
maxsell

In [ ]:
len(maxsell)

2357

In [ ]:
maxsell = n.array(maxsell)