Q1. which car brand max sell with value

Q2. Which brand come after long run?

Q3. Which car has resell value maximum

Q4. which fuel type sell max

In [1]:
import pandas as d
import numpy as n

paste the data in sublimetext editor and check what is the datatpye of the dataset

In [2]:
df = d.read_csv("autos.xls", encoding='latin1', parse_dates=['dateCrawled', 'dateCreated'])

In [3]:
#x = d.to_datetime(df['dateCrawled'])

In [4]:
df.describe()

,dateCrawled,yearOfRegistration,powerPS,monthOfRegistration,dateCreated,nrOfPictures,postalCode
count,50000,50000.000000,50000.000000,50000.000000,50000,50000.0,50000.000000
mean,2016-03-21 13:43:25.697280,2005.073280,116.355920,5.723360,2016-03-20 19:41:34.656000,0.0,50813.627300
min,2016-03-05 14:06:30,1000.000000,0.000000,0.000000,2015-06-11 00:00:00,0.0,1067.000000
25%,2016-03-13 14:51:25.750000128,1999.000000,70.000000,3.000000,2016-03-13 00:00:00,0.0,30451.000000
50%,2016-03-21 17:53:56,2003.000000,105.000000,6.000000,2016-03-21 00:00:00,0.0,49577.000000
75%,2016-03-29 14:36:47.750000128,2008.000000,150.000000,9.000000,2016-03-29 00:00:00,0.0,71540.000000
max,2016-04-07 14:36:56,9999.000000,17700.000000,12.000000,2016-04-07 00:00:00,0.0,99998.000000
std,NaN,105.712813,209.216627,3.711984,NaN,0.0,25779.747957

In [5]:
df['postalCode'] =df['postalCode'].astype('category')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  datetime64[ns]
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  datetime64[ns]
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  category
 19  lastSeen             50000 non-null  object
dtypes: category(1), datetime64[ns](2), int64(4), object(13)
memory usage: 7.6+ MB

In [7]:
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01,0,39218,2016-04-01 14:38:50

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  datetime64[ns]
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  datetime64[ns]
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  category
 19  lastSeen             50000 non-null  object
dtypes: category(1), datetime64[ns](2), int64(4), object(13)
memory usage: 7.6+ MB

In [ ]:
df.isna().sum()/len(df)*100

In [25]:
df.rename(columns={
    'dateCrawled': 'date_crawled',
    'name': 'name',
    'seller': 'seller',
    'offerType': 'offer_type',
    'price': 'price',
    'abtest': 'abtest',
    'vehicleType': 'vehicle_type',
    'yearOfRegistration': 'year_of_registration',
    'gearbox': 'gearbox',
    'powerPS': 'power_ps',
    'model': 'model',
    'odometer': 'odometer',
    'monthOfRegistration': 'month_of_registration',
    'fuelType': 'fuel_type',
    'brand': 'brand',
    'notRepairedDamage': 'not_repaired_damage',
    'dateCreated': 'date_created',
    'nrOfPictures': 'nr_of_pictures',
    'postalCode': 'postal_code',
    'lastSeen': 'last_seen'
}, inplace=True)

In [26]:
df['seller'].unique()

array(['privat', 'gewerblich'], dtype=object)

In [27]:
df['nr_of_pictures'].unique()

array([0], dtype=int64)

| Axis     | Refers To               | Direction     | Meaning in DataFrame  | Common Use                  |
| -------- | ----------------------- | ------------- | --------------------- | --------------------------- |
| `axis=0` | **Y-axis (Vertical)**   | Top to bottom | Refers to **rows**    | Aggregates **down** columns |
| `axis=1` | **X-axis (Horizontal)** | Left to right | Refers to **columns** | Aggregates **across** rows  |

In [ ]:
df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(int)

0         5000
1         8500
2         8990
3         4350
4         1350
         ...
49995    24900
49996     1980
49997    13200
49998    22900
49999     1250
Name: price, Length: 50000, dtype: int32

In [30]:

df['odometer'] = df['odometer'].str.replace('km', '').str.replace(',', '').str.strip().astype(int)

In [33]:
df.rename({'odometer', 'odometer_km'})

TypeError: 'set' object is not callable

In [37]:
df['odometer'].value_counts()

odometer
150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
5000        967
40000       819
30000       789
20000       784
10000       264
Name: count, dtype: int64

In [38]:
df['price'].unique().shape

(2357,)

In [40]:
df['price'].describe()*100

count    5.000000e+06
mean     9.840044e+05
std      4.811044e+07
min      0.000000e+00
25%      1.100000e+05
50%      2.950000e+05
75%      7.200000e+05
max      1.000000e+10
Name: price, dtype: float64

In [10]:
# Remove commas and dollar signs using string replace (no regex)
df['price'] = df['price'].str.replace(',', '').str.replace('$', '').astype(int)

In [11]:
zero_price_rows = df[df['price'] == 0]

In [12]:
zero_price_rows

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27,0,66701,2016-03-27 18:45:01
71,2016-03-28 19:39:35,Suche_Opel_Astra_F__Corsa_oder_Kadett_E_mit_Re...,privat,Angebot,0,control,NaN,1990,manuell,0,NaN,"5,000km",0,benzin,opel,NaN,2016-03-28,0,4552,2016-04-07 01:45:48
80,2016-03-09 15:57:57,Nissan_Primera_Hatchback_1_6_16v_73_Kw___99Ps_...,privat,Angebot,0,control,coupe,1999,manuell,99,primera,"150,000km",3,benzin,nissan,ja,2016-03-09,0,66903,2016-03-09 16:43:50
87,2016-03-29 23:37:22,Bmw_520_e39_zum_ausschlachten,privat,Angebot,0,control,NaN,2000,NaN,0,5er,"150,000km",0,NaN,bmw,NaN,2016-03-29,0,82256,2016-04-06 21:18:15
99,2016-04-05 09:48:54,Peugeot_207_CC___Cabrio_Bj_2011,privat,Angebot,0,control,cabrio,2011,manuell,0,2_reihe,"60,000km",7,diesel,peugeot,nein,2016-04-05,0,99735,2016-04-07 12:17:34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49884,2016-03-11 13:55:30,Audi_a6_2.5l__Schnaeppchen_nur_heute,privat,Angebot,0,test,kombi,1999,manuell,150,a6,"150,000km",11,diesel,audi,NaN,2016-03-11,0,27711,2016-03-12 03:17:08
49943,2016-03-16 20:46:08,Opel_astra,privat,Angebot,0,control,NaN,2016,manuell,101,astra,"150,000km",8,benzin,opel,NaN,2016-03-16,0,89134,2016-03-17 19:44:20
49960,2016-03-25 22:51:55,Ford_KA_zu_verschenken_***Reserviert***,privat,Angebot,0,control,kleinwagen,1999,manuell,60,ka,"150,000km",6,benzin,ford,NaN,2016-03-25,0,34355,2016-03-25 22:51:55
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20,0,8209,2016-03-27 19:48:16
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31,0,12103,2016-04-02 19:44:53

In [13]:
len(df)

50000

In [14]:
df2= df.copy()

In [15]:
df2 = df2[df2['price']!=0]

In [16]:
len(df2)

48579

In [17]:
type(df2['odometer'])

pandas.core.series.Series

In [18]:

df2['odometer'] = df2['odometer'].str.replace('km', '').str.replace(',', '').str.strip().astype(int)

In [19]:
print(df2['odometer'].head())

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: int32

In [20]:
brand_price = df.groupby('brand')['price'].median().sort_values(ascending=False)

In [21]:
print("Top 5 brands with highest typical resale value:")
print(brand_price.head())

Top 5 brands with highest typical resale value:
brand
porsche       29949.5
land_rover    12500.0
mini           8990.0
jeep           7800.0
jaguar         6250.0
Name: price, dtype: float64

In [22]:
# Group by brand and sum all the prices
brand_total_sales = df.groupby('brand')['price'].sum().sort_values(ascending=False)

# Show top 5
print("Brands with highest total resale value (money made from resales):")
print(brand_total_sales.head())

Brands with highest total resale value (money made from resales):
brand
mercedes_benz    139709597
volkswagen        68227597
bmw               44805097
audi              38399495
citroen           29902882
Name: price, dtype: int32

In [23]:
brand_odometer = df.groupby('brand')['odometer'].mean().sort_values(ascending=False)

print("Top 5 brands with highest average kilometers run:")
print(brand_odometer.head())

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
print(df2.isnull().sum())

dateCrawled               0
name                      0
seller                    0
offerType                 0
price                     0
abtest                    0
vehicleType            4589
yearOfRegistration        0
gearbox                2347
powerPS                   0
model                  2463
odometer                  0
monthOfRegistration       0
fuelType               4035
brand                     0
notRepairedDamage      9107
dateCreated               0
nrOfPictures              0
postalCode                0
lastSeen                  0
dtype: int64

In [ ]:
df['brand'].unique()

array(['peugeot', 'bmw', 'volkswagen', 'smart', 'ford', 'chrysler',
       'seat', 'renault', 'mercedes_benz', 'audi', 'sonstige_autos',
       'opel', 'mazda', 'porsche', 'mini', 'toyota', 'dacia', 'nissan',
       'jeep', 'saab', 'volvo', 'mitsubishi', 'jaguar', 'fiat', 'skoda',
       'subaru', 'kia', 'citroen', 'chevrolet', 'hyundai', 'honda',
       'daewoo', 'suzuki', 'trabant', 'land_rover', 'alfa_romeo', 'lada',
       'rover', 'daihatsu', 'lancia'], dtype=object)

In [ ]:
rice = df['price']

In [ ]:
rice.drop('$999,999', axis=0)

KeyError: "['$999,999'] not found in axis"

In [ ]:
df[df['price']=='$0']['brand'].unique()

array(['ford', 'opel', 'nissan', 'bmw', 'peugeot', 'volkswagen', 'mazda',
       'porsche', 'fiat', 'sonstige_autos', 'mercedes_benz', 'volvo',
       'seat', 'audi', 'renault', 'honda', 'kia', 'daihatsu', 'mini',
       'skoda', 'mitsubishi', 'chrysler', 'chevrolet', 'alfa_romeo',
       'toyota', 'smart', 'hyundai', 'citroen', 'jaguar', 'subaru',
       'trabant', 'saab', 'suzuki', 'rover', 'jeep', 'daewoo', 'lada',
       'lancia'], dtype=object)

In [ ]:
amount = df['price'].sort_values(ascending=False)

In [ ]:
amount.head

In [ ]:
maxval=amount.head(1000).unique()

In [ ]:
maxval=maxval[0:5]

In [ ]:
maxval

array(['$999,999', '$999,990', '$999', '$998', '$996'], dtype=object)

In [ ]:
print(df[df["price"]=='$999,999']['brand'].unique()) #ford,volkswagon
df[df["price"]=='$999,990']['brand'].unique() #volkswagon
df[df["price"]=='$999']['brand'].unique() #'audi', 'opel', 'chrysler'

['ford' 'volkswagen']

array(['volkswagen', 'ford', 'audi', 'opel', 'chrysler', 'renault',
       'citroen', 'hyundai', 'mercedes_benz', 'bmw', 'rover', 'fiat',
       'subaru', 'seat', 'mazda', 'mitsubishi', 'saab', 'peugeot',
       'nissan', 'chevrolet', 'sonstige_autos', 'kia', 'daihatsu',
       'skoda', 'daewoo', 'lada', 'toyota', 'trabant', 'alfa_romeo',
       'suzuki', 'volvo', 'smart', 'honda'], dtype=object)

In [ ]:
maxsell = []
i=0
j = i+1
for i in range(len(amount)):
    if amount[i]==amount[j]:
        if amount[i] not in maxsell:
            maxsell.append(amount[i])
        else:
            i+=1
            j+=1
    else:
        
        if amount[i] not in maxsell:
            maxsell.append(amount[i])
        else:
            i+=1
            j+=1
maxsell

In [ ]:
len(maxsell)

2357

In [ ]:
maxsell = n.array(maxsell)